/*Import googlet*/

@import url('https://fonts.googleapis.com/css?family=Courgette|Open+Sans:400,800&display=swap');

/*Variáveis*/

:root {
    --dark-color: #2d2c2c;
    --purple-solid: #0E60B0;
    --purple-transparent: #0f92ba79(53, 10, 79, 0.702);
    --purple-transparent-alt: rgba(15, 146, 186, 0.514);
    --purple-light: #15A39E;
    --yellow-solid: #F07329;
    --gradient-color: linear-gradient(to right, var(--yellow-solid), var(--purple-light));
    --gradient-color-alt: linear-gradient(to right, var(--purple-light), var(--yellow-solid));
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Corpo do HTML*/

Body {
    margin-left: 0px;
    background: linear-gradient(116.82deg, rgba(90, 224, 144, 0.944606) 0%, rgba(117, 207, 236, 0.944606) 100%);
    position: auto;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

a {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    font-display: justify;
    position: center;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-display: justify;
}


/* menu gamer */

* {
    margin: 0;
    padding: 0;
}

.menu {
    width: 100%;
    height: 3.65rem;
    background: #084D6E;
    font-family: 'Arial';
}

.menu ul {
    list-style: none;
    position: relative;
}

.menu ul li {
    width: auto;
    float: left;
}

.menu a {
    background: #084D6E;
    padding: 20px;
    display: block;
    text-decoration: none;
    text-align: center;
    color: white;
}

.menu a:hover {
    background-color: #4FA7D5;
    color: white;
    transition: 0.3s ease-out;
}

.menu ul ul {
    position: absolute;
    visibility: hidden;
}

.menu ul li:hover ul {
    visibility: visible;
    color: white;
    transition: 0.3s ease-out;
}

.menu ul ul li {
    float: none;
    border-bottom: solid 1px #033985;
    width: auto;
}

.menu ul ul li a {
    background-color: #084D6E;
    color: white;
}

label[for="bt_menu"] {
    padding: 5px;
    background-color: #084D6E;
    color: #fff;
    font-family: "Arial, Helvetica, sans-serif";
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

#bt_menu {
    display: none;
}

label[for="bt_menu"] {
    display: none;
}

@media(max-width: 800px) {
    label[for="bt_menu"] {
        display: block;
    }
    .menu {
        margin-top: 5px;
        margin-left: -101%;
        transition: all .4s;
    }
    #bt_menu:checked~.menu {
        margin-left: 0%;
        transition: all .2s;
    }
    .menu ul li {
        width: 100%;
        float: none;
    }
    .menu ul ul {
        position: static;
        overflow: hidden;
        max-height: 0;
        transition: all .4s;
    }
    .menu ul li:hover ul {
        height: auto;
        max-height: 200px;
        transition: 0.3s ease-out;
    }
}

.menuburgue {
    font-size: 2rem;
    margin-left: .2rem;
    margin-right: 0.5rem;
    margin-top: auto;
    margin-bottom: auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
    grid-gap: 2.5rem;
}

.container {
    width: 100%;
    max-width: 1rem;
    padding: 0 1.5rem;
    margin: 0 auto;
    position: center;
}

.form {
    width: 10%;
    background-image: var(--gradient-color);
    padding: 2.5rem;
}

.caixa {
    position: center;
    display: flex;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    content: center;
}

.caixa-forma {
    position: center;
    width: 20rem;
    height: 13rem;
    background: #084D6E;
    border-radius: 22px;
    display: flex;
}

.caixa-forma2 {
    position: center;
    width: 21rem;
    height: auto;
    background: #084D6E;
    border-radius: 22px;
    display: flex;
}

.caixa-forma3 {
    position: center;
    width: 20rem;
    height: 30rem;
    background: #084D6E;
    border-radius: 22px;
    display: flex;
}

.inputlbl {
    display: block;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    margin-left: 0rem;
    width: 20rem;
}

.input {
    outline: #033985;
    border-radius: 12px;
    width: 80%;
    min-height: 2rem;
    padding: .56rem;
    font-weight: bold;
    color: #a5a5a5;
    letter-spacing: 5px;
    font: "Open Sans", sans-serif;
    resize: none;
    display: inline-flex;
    margin-right: auto;
}

.conteudo {
    display: absolute;
    position: center;
    padding: 5px;
    margin-right: 10px;
}


/* Botões */

.btn {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding: .5rem 3.5rem;
    border: none;
    border-radius: 10rem;
    display: inline-flex;
    align-items: center;
}

.btn-forma {
    background-color: #033985;
}

.btn-forma:hover {
    background-color: #4FA7D5;
    transition: 0.3s ease-out;
}


/*Contéudo de texto*/

.container-texto {
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px 1fr 1fr 100px;
    gap: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    text-align: justify;
}

.container-vazio {
    width: 100vw;
    height: 20vh;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 50px 1fr 1fr 100px;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.container div {
    padding: 1rem;
    border: 1px solid rgb(rgba(255, 0, 0, 0), green, blue);
}

.header {
    grid-column-start: 1;
    grid-column-end: 4;
}

.contet-large {
    grid-row-start: 2;
    grid-row-end: 4;
}


/* Footer */

.footer-container {
    background-color: #033985;
    padding-bottom: 4rem 0 2rem 0;
}

.footer {
    width: 80%;
    height: 30vh;
    background-color: #033985;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.footer-heading {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
    margin-top: 0.2rem;
}

.footer-heading h2 {
    margin-bottom: 2rem;
}

.footer-heading a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer-heading a:hover {
    color: #4FA7D5;
    transition: 0.3s ease-out;
}

.footer-email-form h2 {
    margin-bottom: 2rem;
}

#footer-email {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: none;
    padding-left: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-top: 0rem;
    color: #033985;
}

#footer-email::placeholder {
    color: #4FA7D5;
}

#footer-email-btn {
    width: 150px;
    height: 50px;
    border-radius: 5px;
    background-color: #084D6E;
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;
}

#footer-email-btn:hover {
    cursor: pointer;
    background-color: #4FA7D5;
    transition: all 0.5s ease-out;
}

@media screen and (max-width: 800px) {
    .footer {
        height: 50vh;
    }
    .footer-email-form {
        margin-top: 4rem;
    }
}

@media screen and (max-width: 700px) {
    .footer {
        padding-top: 2rem;
    }
}

@media screen and (max-width: 600px) {
    .footer-1 {
        display: none;
    }
    .footer-email-form {
        margin-top: 2rem;
    }
}


/* Sobre nós */

.containerau {
    text-align: center;
    background: #fff;
}

.headerau {
    padding-top: 30px 0;
    color: #444;
    font-size: 20px;
    margin: auto;
    line-height: 50px;
}

.subcontainer {
    max-width: 1200px;
    margin: auto;
    padding: 35px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.time {
    margin: 10px;
    padding: 22px;
    max-width: 30%;
    cursor: pointer;
    transition: 0.4s;
    box-sizing: border-box;
}

.time :hover {
    background: #ddd;
    border-radius: 12px;
}

.time img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.nome {
    padding: 12px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}

.designacao {
    font-style: italic;
    color: #777;
}

.sobre {
    margin: 20px 0;
    font-weight: lighter;
    color: #4e4e4e;
}

.sociallink {
    margin: 15px;
}

;
.sociallink a {
    display: inline-block;
    height: 30px;
    width: 30px;
    transition: .4s;
}

.sociallink a:hover {
    transform: scale(1.5);
}

.sociallink a i {
    color: #444;
}

@media screen and(max-width: 800px) {
    .teams {
        max-width: 100px;
    }
}