/*Import googlet*/

@import url('https://fonts.googleapis.com/css?family=Courgette|Open+Sans:400,800&display=swap');

/*Variáveis*/

:root {
    --dark-color: #2d2c2c;
    --purple-solid: #0E60B0;
    --purple-transparent: #0f92ba79(53, 10, 79, 0.702);
    --purple-transparent-alt: rgba(15, 146, 186, 0.514);
    --purple-light: #15A39E;
    --yellow-solid: #F07329;
    --gradient-color: linear-gradient(to right, var(--yellow-solid), var(--purple-light));
    --gradient-color-alt: linear-gradient(to right, var(--purple-light), var(--yellow-solid));
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Corpo do HTML*/

Body {
    margin-left: 0px;
    background: linear-gradient(116.82deg, rgba(90, 224, 144, 0.944606) 0%, rgba(117, 207, 236, 0.944606) 100%);
    position: auto;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

a {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    font-display: justify;
}


/* menu gamer */

* {
    margin: 0;
    padding: 0;
}

.menu {
    width: 100%;
    height: 0px;
    background: #084D6E;
    font-family: 'Arial';
    position: auto;
}

.menu ul {
    list-style: none;
    position: relative;
}

.menu ul li {
    width: 25%;
    float: left;
}

.menu {
    width: 100%;
    height: 3.65rem;
    background: #084D6E;
    font-family: 'Arial';
}

.menu ul {
    list-style: none;
    position: relative;
}

.menu ul li {
    width: auto;
    float: left;
}

.menu a {
    background: #084D6E;
    padding: 20px;
    display: block;
    text-decoration: none;
    text-align: center;
    color: white;
}

.menu a:hover {
    background-color: #4FA7D5;
    color: white;
}

.menu ul ul {
    position: absolute;
    visibility: hidden;
}

.menu ul li:hover ul {
    visibility: visible;
    color: white;
}

.menu ul ul li {
    float: none;
    border-bottom: solid 1px #033985;
    width: auto;
}

.menu ul ul li a {
    background-color: #084D6E;
    color: white;
}

label[for="bt_menu"] {
    padding: 5px;
    background-color: #084D6E;
    color: #fff;
    font-family: "Arial, Helvetica, sans-serif";
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

#bt_menu {
    display: none;
}

label[for="bt_menu"] {
    display: none;
}

@media(max-width: 800px) {
    label[for="bt_menu"] {
        display: block;
    }
    .menu {
        margin-top: 5px;
        margin-left: -101%;
        transition: all .4s;
    }
    #bt_menu:checked~.menu {
        margin-left: 0%;
        transition: all .2s;
    }
    .menu ul li {
        width: 100%;
        float: none;
    }
    .menu ul ul {
        position: static;
        overflow: hidden;
        max-height: 0;
        transition: all .4s;
    }
    .menu ul li:hover ul {
        height: auto;
        max-height: 200px;
    }
}

.menuburgue {
    font-size: 2rem;
    margin-left: .2rem;
    margin-right: 0.5rem;
    margin-top: auto;
    margin-bottom: auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
    grid-gap: 2.5rem;
}

.container {
    width: 100%;
    max-width: 1rem;
    padding: 0 1.5rem;
    margin: 0 auto;
    position: center;
}

.form {
    width: 10%;
    background-image: var(--gradient-color);
    padding: 2.5rem;
}

.caixa {
    position: relative;
    display: block;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    margin-top: 10rem;
    margin-left: .5rem;
    margin-right: .5rem;
}

.caixa-forma {
    position: center;
    width: 15rem;
    height: 11rem;
    background: #084D6E;
    border-radius: 22px;
}

.caixa-forma2 {
    position: center;
    width: 25rem;
    height: 15rem;
    background: #084D6E;
    border-radius: 22px;
}

.caixa-forma3 {
    position: center;
    width: 25rem;
    height: 25rem;
    background: #084D6E;
    border-radius: 22px;
}

.inputlbl {
    display: block;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    margin-left: 0rem;
}

.input {
    outline: #033985;
    border-radius: 12px;
    width: 80%;
    min-height: 2rem;
    padding: .56rem;
    font-weight: bold;
    color: #a5a5a5;
    letter-spacing: 5px;
    font: "Open Sans", sans-serif;
    resize: none;
    display: inline-flex;
    margin-right: auto;
}


/* Botões */

.btn {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding: .5rem 3.5rem;
    border: none;
    border-radius: 10rem;
    display: inline-flex;
    align-items: center;
}

.btn-forma {
    background-color: #033985;
}

.btn-forma:hover {
    background-color: #4FA7D5;
}